<<<<<<< HEAD

    <div class="parallax-container">
      <h1 class="center">Main header</h1>
      <div class="parallax"><img src="https://hdwallsource.com/img/2014/4/background-wallpaper-22922-23558-hd-wallpapers.jpg"></div>
    </div>
    <div class="container">
      <form class="" action="index.html" method="post">
        <label for="name">Name</label>
      </form>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://www.walldevil.com/wallpapers/a77/desktop-background-romania-park-carol-wallpaper-picture-mypicture.jpg"></div>
    </div>
=======
<h3>Home</h3><br>
>>>>>>> 27a238a185701a83329ec12b06175ce97df8b1ff
