<div class="divider"></div>
<div class="row">
  <h3>Restaurants in Database</h3>
  {{#each resto }}
  <ul>
    <li>{{this.name}}</li>
  </ul>
  {{/each}}
</div>
<div class="divider"></div>
<div class="container">
  Orders for Restaurant No.1
    {{#each table}}
    {{#each this.dishes}}
    <li>{{this}}</li>
    {{/each}}
    {{/each}}
  {{!-- {{#each order.dishes}}

  {{/each}} --}}
</div>
<div class="row">
  <h2 class="center">Testing adding a Restaurant</h2>
    <form class="col s12" method="POST" action="/addrestaurant">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="e.g Stranger's Reunion" id="res_name" type="text" name="name">
          <label for="res_name">Restaurant Name</label>
        </div>
        <div class="input-field col s6">
          <input id="res_cuisine" type="text" name="cuisine">
          <label for="res_cuisine">Cuisine</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="tel" name="contact">
          <label for="password">Phone Number</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="res_address" type="text" name="address">
          <label for="res_address">Address</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="input-field col s4">
            <input id="tableNo" type="text" class="validate" name="tableNo">
            <label for="tableNo">Number of Tables</label>
          </div>
        </div>
      </div>
      <div class="row">
        <button class="btn" type="submit" name="button">Add</button>

      </div>
    </form>
  </div>
  <div class="row">
    <h2 class="center">Test Adding orders(Restaurant must exist)</h2>
      <form class="col s12" method="POST" action="/addtableorder">
        <div class="row">
        <button class="btn" type="submit" name="button">Add Order </button>

        </div>
      </form>
    </div>
