<h3>Payment</h3><br>

<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_9UUjyyfLPB20EogNTBl9Shy4"
    data-amount=""
    data-name="OmniApp.com"
    data-description=""
    data-image="https://due.com/wp-content/themes/due/images/designers-thumb-07.png"
    data-locale="auto">
  </script>
</form>
