<div class="row">
  {{#each resto}}
  {{#times this.tables}}
<div class="col s3">
  TABLE HERE
</div>
  {{/times}}
  {{/each}}
</div>
<div class="row">
  <div class="col s6">
    Open Orders: {{resto}}
  </div>
</div>
